.new-playlist-form input {
  margin: 0.25rem 1.4rem;
}

.new-playlist-action {
  display: flex;
  justify-content: center;
}

.btn-playlist-options {
  margin: 0.5rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
