.playlists-container {
  margin-left: 14rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  grid-template-rows: 220px;
  justify-content: space-around;
  gap: 1.4rem;
}
