/* .video-card {
  width: 23rem;
  height: 17rem;
  background-color: #f4f4f4;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
}
.video-cards {
  margin-left: 16rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-img {
  border-radius: 10px 10px 0 0;

  height: 100%;
  object-fit: cover;
  width: 100%;
}
.video-card-img {
  height: 72%;
  position: relative;
  width: 100%;
}

.category-name {
  font-size: 1rem;
}
.cat-options {
  display: flex;
  justify-content: space-between;
}
.fa {
  font-size: 1rem;
  padding: 0 1rem;
} */
.video-card {
  width: 23rem;
  height: 17rem;
  background-color: #cffafe;
  /* background-color: rgb(244, 244, 244); */
  margin: 1rem;
  border-radius: 10px;
  /* border: 1px solid rgb(199, 199, 199); */
  border: 1px solid #06b6d4;
}
.video-cards {
  margin-left: 16rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-img {
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.video-card-img {
  height: 72%;
  position: relative;
  width: 100%;
}

.category-name {
  font-size: 1rem;
}
.cat-options {
  display: flex;
  justify-content: space-between;
}
.fa {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0 1rem;
}
.fa:hover {
  color: #0891b2;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0 1rem;
}
.video-btns {
  padding: 0 3px;
  font-size: 1.3rem;
}
.fas {
  font-size: 1.4rem;
  padding: 0 1rem;
}
.folder-color:hover {
  cursor: pointer;
  color: #0891b2;
}
.video-icons {
  color: var(--primary-color);
}
