.video-card {
  width: 23rem;
  height: 17rem;
  background-color: #f4f4f4;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
}
.video-cards {
  margin-left: 16rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-img {
  border-radius: 10px 10px 0 0;

  height: 100%;
  object-fit: cover;
  width: 100%;
}
.video-card-img {
  height: 72%;
  position: relative;
  width: 100%;
}

.category-name {
  font-size: 1rem;
}
